.home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: url("https://th.bing.com/th/id/R.5426a7d8be723846c79712072835a3d0?rik=6O5dVvMDYKwSkA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f4%2fb%2f9%2f1314357-most-popular-fancy-background-images-2000x1250.jpg&ehk=6sHK0pHu1v8uinwdF5N8k0Lb0f3yD6NaH89931v%2fHts%3d&risl=&pid=ImgRaw&r=0");
}
